a{
    font-size: 80px;
    color:blue;
}

h2{
    text-decoration: brown;
}

body{
    background-color: burlywood;
}
table{
    background-color: blueviolet;
    text-decoration: white;
}